/*
--------------------------------------------|
Removes margin and padding for every element| ↓↓↓
--------------------------------------------|
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
--------------------------------------------------|
Removes horizontal scrollbar and add smooth scroll| ↓↓↓
--------------------------------------------------|
*/
body{
    overflow-x: hidden;
    overscroll-behavior: contain;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

/*
============================================================================|
Header - Navbar styling                                                     |    
============================================================================|
*/


header{
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding-right: 10px;
    margin-top: 10px;
}

.nav-bar ul{
    font-family: Seymour One;
}

header #nav-container .nav-bar .nav-list{
    justify-content: center;
    align-items: center;
}

.nav-bar ul a{
    text-decoration: none;
    color:aliceblue;
}

#log-in{
    background-color: rgb(58, 155, 58);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px; 
}

#log-in:hover{
    background-color: rgb(80, 209, 80);
}

#log-in a{
    color: black;
}

header #nav-container .nav-bar .nav-list .text-decoration:hover{
    text-decoration: underline;
}

.logo{
    color: aliceblue;
    font-size: 30px;
    font-family: Seymour One, sans-serif;
    text-decoration: none;
}

#open-icon, #close-icon{
    display: none;
}

#checkbox{
    display: none;
}

@media(max-width:768px){
    #nav-container{
        position: fixed;
        height: 100%;
        background-color: black;
        right: -100%;
        transition: 1s;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
        border:solid, rgb(54, 54, 54), 0px;
        border-left-width:5px;
    }
    header #nav-container .nav-bar .nav-list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin: 10px;
        margin-top: 5px;
        
    }

    header #nav-container .nav-bar{
        display: flex;
    }

    #open-icon{
        display: inline;
        margin-top: 3px;
    }
    #close-icon{
        display: inline;
    }
    #checkbox:checked ~ #nav-container{
        right: 0;
    }
    
}

#log-in-container{
    width: auto;
    background-color: rgb(255, 255, 255); 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    padding: 10px; 
    backdrop-filter: blur(2px); 
    border-radius: 10px; 
    border-style:solid; 
    border-color: rgb(117, 111, 111); 
    padding-top: 0px;
    overflow: auto;
    overscroll-behavior: contain;

    transition: 0.5s;
    scale: 0;
    top: -60px;
}

#log-in-first-section{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#log-in-close-icon{
    margin-left: -10px;
}

#log-in-text{
    font-size: 15px; 
    font-family: Seymour One; 
    color: rgba(142, 141, 139, 0.4);
}

#log-in-email-section{
    background-color: rgb(248, 242, 242); 
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    border-radius: 10px;
}

#email-field-label{
    color: grey; 
    font-size: 10px;
}

#email-field{
    border-radius: 5px; 
    background-color: transparent; 
    border: transparent; 
    outline: none;
}

#log-in-password-section{
    background-color: rgb(248, 242, 242); 
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    border-radius: 10px;
}

#password-field-label{
    color: grey; 
    font-size: 10px;
}

#password-field{
    border-radius: 5px; 
    background-color: transparent; 
    border: transparent; 
    outline: none;
}

#log-in-sub-section{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#remember-me-span{
    display: flex;
    align-items: center;
    gap: 2px;
}

#remember-me-label{
    color: grey;
    font-size: 10px;
}

#create-account-a{
    color: grey;
    font-size: 10px;
}

#create-account-a:hover{
    text-decoration: none;
}

#log-in-button{
    margin-top: 10px;
    border-radius: 5px;
}

#log-in-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0);
    width: 200%; 
    height: 200%; 
    position: fixed; 
    backdrop-filter: blur(0px);
    transition: 0.5s;
}

#log-in-container form{
    flex-direction: column;
    display: flex;
    gap: 5px;
}

#log-in-checkbox{
    display: none;
}
body #log-in-checkbox:checked ~ header #nav-container {
    display: none;
}

#log-in-checkbox:checked ~ #log-in-container{
    top: 50%;
    scale: 1;
}

#log-in-checkbox:checked ~ #log-in-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: inline;
}
