/*
--------------------------------------------|
Removes margin and padding for every element| ↓↓↓
--------------------------------------------|
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
--------------------------------------------------|
Removes horizontal scrollbar and add smooth scroll| ↓↓↓
--------------------------------------------------|
*/
body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

/*
============================================================================|
Header - Navbar styling                                                     |    
============================================================================|
*/


header{
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

header #nav-container .nav-bar .nav-list{
    justify-content: center;
    align-items: center;
}

.nav-bar ul a{
    text-decoration: none;
    color:aliceblue;
}

#log-in{
    background-color: rgb(58, 155, 58);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px; 
}

#log-in:hover{
    background-color: rgb(74, 193, 74);
}

#log-in a{
    color: black;
}

header #nav-container .nav-bar .nav-list .text-decoration:hover{
    text-decoration: underline;
}

.logo{
    color: aliceblue;
    font-size: 30px;
    font-family: Seymour One, sans-serif;
}

label{
    display: none;
}

#checkbox{
    display: none;
}

@media(max-width:700px){
    #nav-container{
        position: fixed;
        height: 100%;
        background-color: black;
        right: -100%;
        transition: 1s;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
    }
    header #nav-container .nav-bar .nav-list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin: 10px;
        margin-top: 5px;
        
    }

    header #nav-container .nav-bar{
        display: flex;
    }

    #open-icon{
        display: inline;
        margin-top: 3px;
    }
    #close-icon{
        display: inline;
    }
    #checkbox:checked ~ #nav-container{
        right: 0;
        display: inline;
    }
}