/*
--------------------------------------------|
Removes margin and padding for every element| ↓↓↓
--------------------------------------------|
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
--------------------------------------------------|
Removes horizontal scrollbar and add smooth scroll| ↓↓↓
--------------------------------------------------|
*/
body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
    
}
::-webkit-scrollbar{
    width: 0;
}

/*
============================================================================|
Header - Navbar styling                                                     |    
============================================================================|
*/


header{
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding-right: 10px;
    margin-top: 10px;
}

.nav-bar ul{
    font-family:monospace;
}

header #nav-container .nav-bar .nav-list{
    justify-content: center;
    align-items: center;
}

.nav-bar ul a{
    text-decoration: none;
    color:rgb(190, 190, 190);
}

#log-in{
    background-color: rgb(190, 190, 190);                                                                                                                                       
    border-radius: 5px; 
}

#log-in:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#log-in a{
    color: rgb(43, 43, 43);
}

header #nav-container .nav-bar .nav-list .text-decoration:hover{
    text-decoration: underline;
}

.logo{
    color: rgb(190, 190, 190);
    font-size: 30px;
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    z-index: 999;
}

#open-icon, #close-icon{
    display: none;
}

#sidebar-checkbox{
    display: none;
}

#scroll-watcher{
    background-color: rgba(190, 190, 190, 0.5); 
    position:absolute; 
    bottom: 0; 
    left: 0; 
    height: 2px; 
    width: 100%;
    transform-origin: left;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {scale: 1 1; }
}

@media(max-width:768px){
    #nav-container{
        position: fixed;
        height: 100%;
        background-color: rgb(0, 0, 0);
        right: -100%;
        transition: 1s;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
        border:solid, rgb(28, 28, 28), 0px;
        border-left-width:5px;
    }
    header #nav-container .nav-bar .nav-list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin: 10px;
        margin-top: 5px;
        
    }

    header #nav-container .nav-bar{
        display: flex;
    }
    #open-icon{
        display: inline;
        margin-top: 3px;
    }
    #close-icon{
        display: inline;
    }
    #sidebar-checkbox:checked ~ #nav-container{
        right: 0;
    }

    body header #sidebar-overlay-label{
        display: none;
        background-color: rgba(0, 0, 0, 0);
        width: 200%; 
        height: 200%; 
        position: fixed; 
        transition: 0.5s;
    }

    #sidebar-checkbox:checked ~ #sidebar-overlay-label{
        display: inline;
    }  
    
}

/*
--------------------------------------------------|
Popup container settings                          | ↓↓↓
--------------------------------------------------|
*/

/*
-------------------------
pop up container settings
-------------------------
*/
.pop-up-container{
    width: auto;
    background-color: rgb(255, 255, 255); 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    padding: 10px; 
    backdrop-filter: blur(2px); 
    border-radius: 10px; 
    border-style:solid; 
    border-color: rgb(117, 111, 111); 
    padding-top: 0px;
    overflow: auto;
    overscroll-behavior: contain;
    z-index: 3;

    transition: 0.5s;
    scale: 0;
    top: -60px;
}

.pop-up-container form{
    flex-direction: column;
    display: flex;
    gap: 5px;
}

#pop-up-checkbox{
    display: none;
}
body #pop-up-checkbox:checked ~ header #nav-container{
    display: none;
}

#pop-up-checkbox:checked ~  header .logo{
    display: none;
}

#pop-up-checkbox:checked ~ header #open-icon{
    display: none;
}

#pop-up-checkbox:checked ~ .pop-up-container{
    top: 50%;
    scale: 1;
}

#pop-up-checkbox:checked ~ label .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: inline;
    z-index: 1;
}

label .overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0);
    width: 200%; 
    height: 200%; 
    position: fixed; 
    backdrop-filter: blur(0px);
}

/*
---------------------
pop up header section
---------------------
*/
.pop-up-header-section{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

/*pop up close icon*/
.pop-up-close-icon{
    margin-left: -10px;
}

/*pop up header text*/
.pop-up-header-text{
    font-size: 15px; 
    font-family: Seymour One; 
    color: rgba(142, 141, 139, 0.4);
}


/*
--------------------
pop up email section
--------------------
*/
.pop-up-email-section{
    background-color: rgb(248, 242, 242); 
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    border-radius: 10px;
}

.email-field-label{
    color: grey; 
    font-size: 10px;
}

.email-field{
    border-radius: 5px; 
    background-color: transparent; 
    border: transparent; 
    outline: none;
}

/*
-----------------------
pop up password section
-----------------------
*/
.pop-up-password-section{
    background-color: rgb(248, 242, 242); 
    display: flex; 
    flex-direction: column; 
    padding: 5px; 
    border-radius: 10px;
}

.password-field-label{
    color: grey; 
    font-size: 10px;
}

.password-field{
    border-radius: 5px; 
    background-color: transparent; 
    border: transparent; 
    outline: none;
}

/*
------------------
pop up sub section
------------------
*/
.pop-up-sub-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remember-me-span{
    display: flex;
    align-items: center;
    gap: 2px;
}

#remember-me-label{
    color: grey;
    font-size: 10px;
}

/*
---------------------
submit button section
---------------------
*/
.submit-button{
    margin-top: 10px;
    border-radius: 5px;
}


/*
------------------------
change container section
------------------------
*/
.change-container-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#change-container-checkbox{
    display: none;
}

.change-container-text{
    font-size: 10px;
}

#change-container-a{
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 10px;
    text-decoration: underline;
}

#change-container-a:hover{
    text-decoration: none;
}


/*
---------------------
container transitions
---------------------
*/

#register-container{
    left: -50%;
}

#change-container-checkbox:checked ~ #register-container{
    left: 50%;
}

#change-container-checkbox:checked ~ #log-in-container{
    left: 150%;
}



/*
============================================================================|
Hero Section styling                                                        |    
============================================================================|
*/

#hero{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(assets/PizzaSlice-Render1.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#hero-section-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#slogan{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: start; 
    row-gap: 0px;
}

#slogan a{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slogan1{
    background-color: rgb(210, 210, 210); 
    border-radius: 10px 0px 0px 0px;
    padding-right: 5px;
}

#slogan2{
    background-color: rgb(70, 70, 70); 
    color: rgb(210, 210, 210);
    border-radius: 0px 10px 0px 0px; 
}

#slogan3{
   background-color: rgb(210, 210, 210); 
   border-radius: 0px 10px 10px 10px; 
}

#hero-text-container{
    background-color: rgba(240, 248, 255, 0.1); 
    backdrop-filter: blur(5px); 
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    padding: 0; 
    border-radius: 5px;
    font-family: monospace;
}

#order-now-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(20, 206, 66, 0.5); 
    border-radius: 5px;
    align-self: flex-end;
    text-decoration: none;
    color: black;
}

#order-now-button:hover{
    background-color: rgba(20, 206, 66, 0.7);
}

#typewriter{
    animation: 1s infinite steps(1) blink;
}
@keyframes blink{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@media(max-width:768px){
    #hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
   
}

/*
============================================================================|
Info Section styling                                                        |    
============================================================================|
*/

#info{
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-image: linear-gradient(to bottom,rgb(60, 60, 60),rgb(150, 150, 150) ,rgb(190, 190, 190));
    padding-top: 100px;
    padding-bottom: 100px;
}

#info p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#info-first-section{
    display: flex; 
    gap: 20px; 
    flex-direction: column;
}

.info-first-section-container{
    width: 300px; 
    height: 240px; 
    background-color: rgb(70, 70, 70); 
    border-radius: 20px; 
    padding: 20px; 
    color: rgb(210, 210, 210);
}


#info-second-section{
    display: flex; 
    gap: 0px;
}

#info-second-section-container{
    height: 500px; 
    width: 300px; 
    background-color: rgb(210, 210, 210); 
    border-radius: 20px 0px 0px 20px; 
    padding: 20px;
}

#info-section-image-container{
    background-image: url(assets/578e9cf9647e1012bebcc197fa44af1a.jpg); 
    width: 300px; 
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    border-radius: 0px 20px 20px 0px;
}


@media(max-width:950px){
    #info{
        flex-direction: column-reverse;
    }
    
    #info-first-section{
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 4%;
    }

    .info-first-section-container{
        width: 45%; 
        height: auto; 
        
    }

    .info-first-section-container p{
        font-size: 40px;
    }

    #info-second-section{
        display: flex;
        justify-content: center;
    }

    #info-second-section-container{
        width: 47%; 
        height: auto;  
    }


    #info-second-section-container p{
        font-size: 40px;
    }
    
    #info-section-image-container{
        width: 47%; 
        height: auto; 
        
    }


}

@media(max-width:800px){
    .info-first-section-container p{
        font-size: 35px;
    }
    #info-second-section-container p{
        font-size: 35px;
    }
}

@media(max-width: 700px){
    .info-first-section-container p{
        font-size: 30px;
    }
    #info-second-section-container p{
        font-size: 30px;
    }
}

@media(max-width:600px){
    .info-first-section-container p{
        font-size: 25px;
    }
    #info-second-section-container p{
        font-size: 25px;
    }
}

@media(max-width:500px){
    .info-first-section-container p{
        font-size: 20px;
    }
    #info-second-section-container p{
        font-size: 20px;
    }
}

@media(max-width:400px){
    .info-first-section-container p{
        font-size: 15px;
    }
    #info-second-section-container p{
        font-size: 15px;
    }
}

@media(max-width:300px){
    .info-first-section-container p{
        font-size: 10px;
    }
    #info-second-section-container p{
        font-size: 10px;
    }
}

/*
============================================================================|
Gallery Section styling                                                     |    
============================================================================|
*/

#menu{
    background-color: rgb(210, 210, 210); 
    width: 100%;
    background-image:linear-gradient(to bottom, rgb(190, 190, 190),rgb(150, 150, 150) ,rgb(60, 60, 60));
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}

#menu-container-main::-webkit-scrollbar{
    width: 20px;
    background-color: transparent;
}

#menu-container-main::-webkit-scrollbar-thumb{
    background-color: rgba(125, 125, 125);
    border-radius: 10px;
}

#menu-container-main::-webkit-scrollbar-thumb:hover{
    background-color: rgba(110, 110, 110);
}

#menu-container-main::-webkit-scrollbar-track{
    background-color: rgb(140, 140, 140);
    border-radius: 10px;
}

#menu-container{
    background-color: rgb(210, 210, 210); 
    width: 920px; 
    height: 1000px;
    border-radius: 20px;
    display: flex;
}

#menu-container-sidebar{
    font-size: 20px;
    background-color: rgb(70, 70, 70); 
    width: 120px; 
    height: 100%; 
    padding: 10px;
    border-radius: 20px 0px 0px 20px; 
    display: flex;
    flex-direction: column;
    align-items: start;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: rgb(60, 60, 60);
}

#menu-container-sidebar a{
    padding: 10px;
    color: rgb(210, 210, 210);
    text-decoration: none;
    
}

#menu-container-sidebar a:hover{
    text-decoration: underline;
}

#menu-container-main{
    display: flex;
    flex-direction: column;
    width: 800px;  
    overflow:scroll;
    overflow-x: hidden;
    border-radius: 0 10px 10px 0;
    background-color: rgb(160, 160, 160);
}

.menu-item-container{
    background-color: rgb(210, 210, 210);
    width: 350px;
    height: 180px;
    border-radius: 20px;
    transition: 0.2s;
}

.menu-item-container:hover{
    transform: translate3d(0px,-5px,0px);
    box-shadow: black 4px 4px 20px;
}

.menu-item-container-image{
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-image:url(assets/578e9cf9647e1012bebcc197fa44af1a.jpg);
    background-size: cover;
    background-position: center;
    border-style:solid;
    border-width:0 5px 0 0;
    box-shadow: 5px 0 10px;
    border-color: rgb(70, 70, 70);
}

.menu-main-subsection{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width:950px){
    #menu-container{
        width: 94%;
    }
}


/*
============================================================================|
Gallery Section styling                                                     |    
============================================================================|
*/

#gallery{
    background-image: linear-gradient(to bottom, rgb(60,60,60),rgb(30,30,30),rgb(0,0,0)); 
    width: 100%; 
    height: 1000px; 
    display: flex;
    justify-content: center;
}